@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.td-button {
	display: inline-block;
	width: 100px;
	height: 48px;
	background-color: #f86440;
	color: #fff;
	border: none;
	border-radius: 7px;
	transition-duration: 0.4s;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 500;
}

.td-button:hover {
	background-color: white;
	color: #f86440;
	border: 1px solid #f86440;
	font-size: 0.9rem;
	font-weight: 600;
}




.loading-screen {
	text-align: center;
	background-color: var(--color-back);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80vh;
}

.back-button {
	margin-top: 10px;
	margin-left: 30px;
	display: inline-block;
	width: 70px;
	height: 70px;
	background-color: #8e99a4;
	color: #fff;
	border: none;
	border-radius: 50%;
	transition-duration: 0.4s;
	cursor: pointer;
}

.back-button:hover {
	background-color: white;
	color: #8e99a4;
	border: 1px solid #8e99a4;
}

.label-new-consult {
	margin-left: 10px;
}
/**/

.act-button{
	text-decoration: none !important;    
    color: var(--color-2);
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
    outline: none;
	border: none;
    font-size: 15px;
    transition: all 0.3s;
}

.act-button:hover{
    background-color: var(--color-2);
    color: var(--color-1);
    
}

.label-search{
	font-size: 30px;
	font-weight: bolder;
}