a{
	text-decoration: none;
}

.box {
	height: 350px;
}

.box2 {
	height: 150px;
}

body {
	position: relative;
	background-color: #f5f5f5 !important;
}

/*
table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	text-align: left;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}
*/

.toast-fixed {
	position: absolute;
	top: 20px;
	right: 20px;
	min-width: 200px;
}

.button-react {
	background-color: #f48b05;
	position: absolute;
	right: 30px;
}

.button-react:hover {
	background-color: #fff;
	color: #f48b05;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	color: #787878;
	font-size: 0.9rem;
	font-weight: 700;
	margin-top: 120px;
}

.div-header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.div-svg {
	height: 30px;
	width: 30px;
	padding: 0 20px;
}

.loading-screen {
	text-align: center;
	background-color: #17a2b8;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.appContainer{
	display: flex;
	height: 100vh;
	flex: 1;
}

.mainApp{
	margin: 0 50px;
	width: 100%;
}